/* CSS file for YScaleMenuPlugin */

.yScaleIcon{
    background-image: url('../img/y-scale.png');
    width: 16px;
    height: 16px;
}

.y-scale-dialog-td-key{
    font-weight: bold;
    padding-right:5px;
}

.yscale-dialog-td-button label{
    padding: 0px 5px 0px 1px;
}